<div class="container mx-auto px-4 py-10  pt-0">
    <div class="text-white">
        <h1 class="text-7xl text-center">E-Commerce Projects</h1>
        <div class="flex flex-wrap justify-between p-5">
            <div class="w-full md:w-1/2">
                <h1 class="text-4xl pb-5 sm:text-5xl lg:text-6xl leading-loose">LeVisage</h1>
                <p class="text-base sm:text-lg lg:text-xl">
                    A leading manufacturer of high-quality cosmetics and nutritional <br>
                    supplements, empowering individuals to achieve health and beauty. <br>
                    We also strive to innovate and develop safe, effective, and <br>
                    sustainable products, while maintaining our commitment <br>
                    to ethical business practices and social responsibility. <br>
                </p>
            </div>
            <div class="w-full md:w-1/2 mt-4 md:mt-0 pb-10">
                <img src="/LeVisage 1.jpg" class="w-full rounded-lg" alt="">
            </div>
            <img src="/LeVisage 2.jpg" class="w-full rounded-lg" alt="">
        </div>

        <div class="flex flex-wrap justify-between p-5">
            <div class="w-full md:w-1/2">
                <h1 class="text-4xl pb-5 sm:text-5xl lg:text-6xl leading-loose uppercase">sondos</h1>
                <p class="text-base sm:text-lg lg:text-xl">
                    The exclusive agent for <br>
                    Rasasi – Swiss Arabian – Azha <br>
                    A wide range of luxurious perfumes, <br>
                    Fragrances of the highest quality at the best prices<br>

                </p>
            </div>
            <div class="w-full md:w-1/2 mt-4 md:mt-0 pb-10">
                <img src="/perfumes2.jpg" class="w-full rounded-lg" alt="">
            </div>
            <img src="/perfumes.jpg" class="w-full rounded-lg" alt="">
        </div>
        <!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
            <img src="/1.jpg" class="w-full h-40 object-cover rounded-lg shadow-lg" alt="1">
            <img src="/2.jpg" class="w-full h-40 object-cover rounded-lg shadow-lg" alt="2">
            <img src="/3.jpg" class="w-full h-40 object-cover rounded-lg shadow-lg" alt="3">
            <img src="/4.jpg" class="w-full h-40 object-cover rounded-lg shadow-lg" alt="4">
            <img src="/5.jpg" class="w-full h-40 object-cover rounded-lg shadow-lg" alt="5">
            <img src="/6.jpg" class="w-full h-40 object-cover rounded-lg shadow-lg" alt="6">
            <img src="/7.jpg" class="w-full h-40 object-cover rounded-lg shadow-lg" alt="7">

        </div> -->

        <h1 class="text-7xl text-center p-10">Social Media Projects </h1>

        <div class="flex flex-wrap justify-between p-5">
            <img src="/socail medie.jpg" class="w-full rounded-lg" alt="">
        </div>



    </div>
</div>