<div class="container mx-auto">

    <h1 class="text-5xl text-white pb-5">Cosmetics Nieche</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <img src="/1/1.png" alt="" class="w-full h-48 ">
        <img src="/1/2.png" alt="" class="w-full h-48 ">
        <img src="/1/3.png" alt="" class="w-full h-48 ">
    </div>
    <h1 class="text-5xl text-white pb-5 pt-5">Perfume Nieche</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

        <img src="/2/1.png" alt="" class="w-full h-48 ">
        <img src="/2/2.png" alt="" class="w-full h-48 ">
        <img src="/2/3.png" alt="" class="w-full h-48 ">
        <img src="/2/4.png" alt="" class="w-full h-48 ">
        <img src="/2/5.png" alt="" class="w-full h-48 ">



    </div>
</div>