<h1 class="text-9xl text-center h-lvh text-white">Coming Soon...</h1>


<!-- <div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    <div class="bg-gray-800 rounded-2xl overflow-hidden shadow-lg p-4">
        <h1 class="text-white text-2xl font-bold mb-4">Case Study</h1>
        <img src="/Case studies 2.jpg" alt="case-study" class="w-full  object-cover rounded-lg mb-4">
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quos saepe consectetur qui
            adipisci corporis reiciendis accusamus, sint iure rerum.</p>
    </div>

    <div class="bg-gray-800 rounded-2xl overflow-hidden shadow-lg p-4">
        <h1 class="text-white text-2xl font-bold mb-4">Case Study</h1>
        <img src="/Case studies 3.jpg" alt="case-study" class="w-full  object-cover rounded-lg mb-4">
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quos saepe consectetur qui
            adipisci corporis reiciendis accusamus, sint iure rerum.</p>
    </div>

    <div class="bg-gray-800 rounded-2xl overflow-hidden shadow-lg p-4">
        <h1 class="text-white text-2xl font-bold mb-4">Case Study</h1>
        <img src="/Case studies 4.jpg" alt="case-study" class="w-full  object-cover rounded-lg mb-4">
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quos saepe consectetur qui
            adipisci corporis reiciendis accusamus, sint iure rerum.</p>
    </div>

    <div class="bg-gray-800 rounded-2xl overflow-hidden shadow-lg p-4">
        <h1 class="text-white text-2xl font-bold mb-4">Case Study</h1>
        <img src="/Case studies 1.jpg" alt="case-study" class="w-full  object-cover rounded-lg mb-4">
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quos saepe consectetur qui
            adipisci corporis reiciendis accusamus, sint iure rerum.</p>
    </div>
    <div class="bg-gray-800 rounded-2xl overflow-hidden shadow-lg p-4">
        <h1 class="text-white text-2xl font-bold mb-4">Case Study</h1>
        <img src="/Case studies 5.jpg" alt="case-study" class="w-full  object-cover rounded-lg mb-4">
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quos saepe consectetur qui
            adipisci corporis reiciendis accusamus, sint iure rerum.</p>
    </div>
    <div class="bg-gray-800 rounded-2xl overflow-hidden shadow-lg p-4">
        <h1 class="text-white text-2xl font-bold mb-4">Case Study</h1>
        <img src="/Case studies 6.jpg" alt="case-study" class="w-full  object-cover rounded-lg mb-4">
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quos saepe consectetur qui
            adipisci corporis reiciendis accusamus, sint iure rerum.</p>
    </div>
</div> -->